<!-- app/views/your_view.html.erb -->
<div style="position: relative; display: inline-block;">
    <%= image_tag("catbank_home.png", alt: "Catbank", style: "width: 100%; height: 100%;") %>
    <div style="position: absolute; top: 30%; right: 30%; color: white; padding: 10px;">
        <h1>Signup today and get 100 Silveuros for free!</h1>
    </div>
</div>