<footer class="bg-light text-center text-lg-start mt-auto">
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Catbank:
        <a class="text-dark" href="mailto:diego.carrea87@gmail.com">tech@catbank.com</a>
    </div>
</footer>